<h2>Network Elements List</h2>
<br>
<br>

<table>
	<thead style="font-weight: bold;">
		<tr>
			<td ng-repeat="col in columns" style="padding:10px;" style="cursor: pointer;">
				{{col.displayLabel}}
			</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ne in networkElementSearchResponse.results">
			<td ng-repeat="col in columns" style="padding:10px;">{{ne[col.field]}}</td>
			<td>
				<button ng-click="goToNetworkElementEdit(ne['ID'])">Edit</button>
			</td>
		</tr>
	</tbody>
</table>



