<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Data structures and logical operators in JavaScript - workshop 1 - check var empty - solution</title>
		
		<script src="../../../lib/angular.js"></script>		
		<script src="dataStructuresAndLogicalOperatorsInJs-workshop1-checkVarEmpty-solution.js"></script>
	</head>
	
	<base href="/">

	<body ng-app="dataStructuresAndLogicalOperatorsInJsApp" ng-controller="dataStructuresAndLogicalOperatorsInJsController as ctrl">
		<div style="color: red">
			{{errorMessage}}
		</div>
	
		Loaded Network Element is: <br>
		ID: {{networkElement.ID}} <br>
		IP: {{networkElement.IP}} <br>			
	</body>
</html>