<tr>
    <th *ngFor="let column of columns" (click)="updateSortColumn(column)">
        <!-- apply CSS class .sortable only if "column.sortable" expression returns true -->
        <span [class.sortable]="column.sortable">{{column.displayLabel}}</span>
        <span *ngIf="column.sortable && column.field == sort.field">
            <!-- 
                We can't use the SortDirection enum directly in the template. We expose its values to component fields, and use those (sortDirectionAsc, sortDirectionDesc)
                TODO is there a better way to do this?
            -->
            <mat-icon *ngIf="sort.order == sortDirectionAsc">arrow_drop_up</mat-icon>
            <mat-icon *ngIf="sort.order == sortDirectionDesc">arrow_drop_down</mat-icon>
        </span>
    </th>
</tr>