<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Using Directives Provided By Angular - workshop - solution</title>
		
		<script src="../../../lib/angular.js"></script>		
		<script src="usingDirectivesProvidedByAngular-workshop-solution.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="myController as ctrl">
		<span ng-repeat="i in [0, 1, 2]" >
			<button ng-click="hideButton(i);" ng-show="!hiddenButtons[i]">Hide me ({{i}})</button>
		</span>
		
		<br><br>
		<button ng-click="showAll()">Show all</button>
		
		<br><br><br>
		Debug: currently hidden buttons: {{hiddenButtons}}
	</body>
</html>