<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Using Directives Provided By Angular - workshop 2 - solution</title>
		
		<script src="../../../lib/angular.js"></script>		
		<script src="usingDirectivesProvidedByAngular-workshop2-solution.js"></script>
	</head>
	
	<base href="/">

	<body ng-app="myApp" ng-controller="myController as ctrl">
		<div>{{stateDescription}}</div>
		<!-- two-way-binding also works for functions (returns) -->
		<button ng-click="start()" ng-disabled="isStarted()">Start</button>
		<br><br>
		<button ng-click="lap()" ng-disabled="!isStarted()">Lap</button>
		<br><br>
		<button ng-click="stop()" ng-disabled="!isStarted()">Stop</button>
		<br><br>
		<br><br>
		<div ng-repeat="lapDuration in lapsDurations track by $index">Lap {{$index + 1}}: {{lapDuration}} Ms</div>
	</body>
</html>