<h2>{{operationTypeDisplay}} Network Element</h2>

<div style="width: 350px;">
	Name: <input ng-model="networkElement.NAME">
	<br><br>	
	
	IP: <input ng-model="networkElement.IP">
	<br><br>		
	
	Product family: <select ng-model="networkElement.PRODUCT_FAMILY" ng-options="productFamily for productFamily in productFamilies"></select>
	<br><br>
	
	Product name: <select ng-model="networkElement.PRODUCT_NAME" ng-options="productName for productName in productNamesByFamily[networkElement.PRODUCT_FAMILY]"></select>
	<br><br>
	
	Group type: <select ng-model="networkElement.GROUP" ng-options="group for group in groupsByFamily[networkElement.PRODUCT_FAMILY]"></select>
	<br><br>
	
	Number of slots:<input ng-model="networkElement.SLOTS" type="number" min="1" max="16">
	<br><br>
	
	Last updated (example: 2018/11/23 19:45):<input type="text" ng-model="networkElement.LAST_UPDATE_TIMESTAMP"/>
	<br><br>
</div>

<br>
<br>
<button ng-click="ctrl.persistNetworkElement()">Save</button>
<button ng-click="ctrl.goToNetworkElementList()">Cancel</button>