<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Back-End Interaction - Workshop 1 - Formatting - solution</title>
		
		<script src="../../../lib/angular.js"></script>		
		<script src="backendInteraction-workshop1-formatting-solution.js"></script>
	</head>

	<body ng-app="backendInteractionApp" ng-controller="backendInteractionController as ctrl">
		<table>
			<thead style="font-size: 14px; font-weight: bold;">
				<tr>
					<td>
						<span>DB ID</span>
					</td>
					<td>
						<span>NE Name</span>
					</td>
					<td>
						<span>Product family</span>
					</td>
					<td>
						<span>Product name</span>
					</td>
					<td>
						<span>Group type</span>
					</td>
					<td>
						<span>Last update</span>
					</td>	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ne in networkElements">
					<td>{{ne.ID}}</td>
					<td>{{ne.NAME}}</td>
					<td>{{2 == 2}}</td>
					<td>{{ne.PRODUCT_NAME}}</td>
					<td>{{ne.GROUP}}</td>
					<td>{{ne.LAST_UPDATE_TIMESTAMP}}</td>
				</tr>
			</tbody>
			
		</table>
	</body>
</html>