<h2>{{this.operationTypeDisplay}} Network Element (using basic input)</h2>

<div style="width: 350px;">
    Name: <input [(ngModel)]="networkElement.NAME" class="form-control">
    <br>

    IP: <input [(ngModel)]="networkElement.IP" class="form-control">
    <br>

    Product family: <select [(ngModel)]="networkElement.PRODUCT_FAMILY" class="form-control">
        <!-- equivalent of ng-options fron AngularJS doesn't appear to exist anymore in Angular 8:-->
        <option *ngFor="let productFamily of productFamilies">{{productFamily}}</option>
    </select>
    <br>

    Product name: <select [(ngModel)]="networkElement.PRODUCT_NAME" class="form-control">
        <option *ngFor="let productName of productNamesByFamily[networkElement.PRODUCT_FAMILY]">{{productName}}</option>
    </select>
    <br>

    Group type: <select [(ngModel)]="networkElement.GROUP" class="form-control">
        <option *ngFor="let group of groupsByFamily[networkElement.PRODUCT_FAMILY]">{{group}}</option>
    </select>
    <br>

    Number of slots:<input [(ngModel)]="networkElement.SLOTS" type="number" min="1" max="16" class="form-control">
    <br>

    Last updated ({{formDateFormat}}): <br>
    (example: 2018/11/23 19:45:30):<input type="text" class="form-control"
        [(ngModel)]="networkElement.LAST_UPDATE_TIMESTAMP"
        (ngModelChange)="isDateStringValid(networkElement.LAST_UPDATE_TIMESTAMP)" />
    <span *ngIf="humanReadableErrorMessage != null && humanReadableErrorMessage != ''">
        <br>
        <mat-icon>error</mat-icon><span style="color: red; font-style: italic;">{{humanReadableErrorMessage}}</span>
    </span>
    <span *ngIf="!isDateStringValid(networkElement.LAST_UPDATE_TIMESTAMP)">
        <br>
        <mat-icon>error</mat-icon><span style="color: red; font-style: italic;">Invalid date</span>
    </span>
    <br>
</div>

<br>
<br>
<button (click)="this.persistNetworkElement()" class='btn btn-success' [disabled]="!isDateStringValid(networkElement.LAST_UPDATE_TIMESTAMP)" >Save</button>
&nbsp;
<a routerLink="/network-element-list" class="btn btn-danger">Cancel</a>