<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bootstrap Library</title>
		
		<script src="../../lib/angular.js"></script>
	    <script src="../../lib/angular-animate.js"></script>
	    <script src="../../lib/angular-sanitize.js"></script>
	    <script src="../../lib/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	    <link href="../../lib/bootstrap/bootstrap.min.css" rel="stylesheet">
		<script src="bootstrapLibrary.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="myController as ctrl">
	
		<div style="padding: 10px; border: 1px solid black; margin: 10px;">
		
			<uib-tabset active="active">
			    <uib-tab index="0" heading="Static title">Static content</uib-tab>
			    <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
			      {{tab.content}}
			    </uib-tab>
			    <uib-tab index="3" select="alertMe()">
			      <uib-tab-heading>
			        <i class="glyphicon glyphicon-bell"></i> Alert!
			      </uib-tab-heading>
			      I've got an HTML heading, and a select callback. Pretty cool!
			    </uib-tab>
			</uib-tabset>
			
		</div>
			
	</body>
</html>