<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Creating simple AngularJS Directive</title>
		
		<script src="../../lib/angular.js"></script>		
		<script src="creatingSimpleCustomAngularJSDirective.js"></script>
	</head>
	
	<base href="ang">

	<body ng-app="myApp" ng-controller="myController as ctrl">
		<div>{{stateDescription}}</div>
		<button ng-click="start()">Start</button>
		<br><br>
		<button ng-click="lap()">Lap</button>
		<br><br>
		<button ng-click="stop()">Stop</button>
		<br><br>
		<br><br>
		<div ng-repeat="lapDuration in lapsDurations track by $index">
			<!-- 
				!IMPORTANT!
				the name of the directive, and of its attributes, are declared in camelCase in the .js file
				the name of the directive, and of its attributes, are referenced by transforming camelCase in dashed-case, in the HTML
				
				so "milliseconds-format" becomes <millisecondsFormat></millisecondsFormat>
			 -->
			 <!--
			 the "milliseconds-value" attribute will receive a JS variable as value (lapDuration), because it is declared with "=" in the directive
			 the "time-unit-label"  attribute will receive regular text as value, because it is declared with "@"
			  -->
			Lap {{$index + 1}}: <milliseconds-format id="{{$index}}"
				milliseconds-value="lapDuration" 
				time-unit-label="seconds" 
				scaling-factor="1000"></milliseconds-format>
		</div>
	</body>
</html>