<h2>{{this.operationTypeDisplay}} Network Element (using Angular Reactive Forms)</h2>

<!-- 
    *ngIf="networkElementForm" is present on the div containing the actual form, because when editing an existing NE,
    the networkElementForm instance will be created only after the data is fetched from the back-end 
    (not doing this check will still have the form
    work, but there will be errors in Chrome console about non-existing variables/properties)
  -->
<div style="width: 350px;" *ngIf="networkElementForm">
    <form [formGroup]="networkElementForm" (ngSubmit)="onNEFormSubmit()">

        <!--##### NAME #####-->
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" formControlName="name" placeholder="the user defined name of the NE">

            <!-- here, "name" comes from the component variable name:FormControl-->
            <!-- 
                the dirty and touched fields in the FormControl tell us if the user has yet interracted with the input or not
                This is so that, validation error messages are not displayed when the form is displayed with no data
            -->
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
        </div>    

        <!--##### IP #####-->
        <div class="form-group">
            <label for="ip">IP:</label>

            <input class="form-control" formControlName="ip">
            <div *ngIf="ip.invalid && (ip.dirty || ip.touched)" class="alert alert-danger">

                <div *ngIf="ip.errors.required">
                    IP is required
                </div>
                <!-- use "structure?.threeDots" (with question mark), to stop the expression evaluation if structure is null
                otherwise null error when trying to get threeDots property-->
                <div *ngIf="ip.errors.structure?.threeDots">
                    IP must contain exactly 3 dot (.) characters
                </div>

                <div *ngIf="ip.errors.structure?.ipv4">
                    <strong>{{ip.value}}</strong> is not a valid IPv4 value
                </div>
            </div>
        </div>
           
        <!--##### PRODUCT_FAMILY #####-->
        <div class="form-group">
            <label for="productFamily">Product Family:</label>
            <select class="form-control" formControlName="productFamily">
                <!-- when using reactive forms, you need to add the below (first) option if you want to have a "none" option (possibly displaying some placeholder-like text to the user) -->
                <option [ngValue]="null">
                    Select Product Family
                </option>
                <!-- use ngValue attribute to specify in what component variable the currently selected option value should be stored:-->
                <option *ngFor="let productFamily of productFamilies" [ngValue]="productFamily">
                    <!-- here, human readable description of the option can be anything, and can also be obtained from component variable: -->
                    {{productFamily.toUpperCase()}}
                </option>
            </select>

            <div *ngIf="productFamily.invalid && (productFamily.dirty || productFamily.touched)" class="alert alert-danger">

                <div *ngIf="productFamily.errors.required">
                    Product Family is required
                </div>
            </div>
        </div>    

        <!--
            for product name and group, when changing the product family, it's not sufficient to update their lists of options (in the HTML template)
            We need to also update their form controls, to set them to the first option in the new list of options
            this is done in the component, when initializing the productName FormControl, by registering a change listener on it
        -->

        <!--##### PRODUCT_NAME #####-->
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <select class="form-control" formControlName="productName">
                <option *ngFor="let productName of productNamesByFamily[productFamily.value]" [ngValue]="productName">
                    {{productName.toUpperCase()}}
                </option>
            </select>
        </div>    

        <!--##### GROUP #####-->
        <div class="form-group">
            <label for="group">Group:</label>
            <select class="form-control" formControlName="group">
                <option *ngFor="let group of groupsByFamily[productFamily.value]" [ngValue]="group">
                    {{group}}
                </option>
            </select>
        </div>

        <!--##### SLOTS #####-->
        <div class="form-group">
            <label for="name">Number of slots:</label>
            <input class="form-control" formControlName="slots">

            <div *ngIf="slots.invalid && (slots.dirty || slots.touched)" class="alert alert-danger">

                <div *ngIf="slots.errors.required">
                    Number of slots is required.
                </div>
                <div *ngIf="slots.errors.min">
                    <!-- the standard min and max validators, when returning the error object (slots.errors.min), 
                        will populate this object with properties about what min value was configured in it, and what's the actual value received -->
                    Number of slots must be greater or equal to {{slots.errors.min.min}} (but is currently
                    {{slots.errors.min.actual}})
                </div>
                <div *ngIf="slots.errors.max">
                    Number of slots must be lower or equal to {{slots.errors.max.max}}
                </div>
                <div *ngIf="slots.errors.integer">
                    Number of slots must be an integer
                </div>
            </div>
        </div>    

        <!--##### LAST_UPDATE_TIMESTAMP #####-->
        <div class="form-group">
            <label for="name">Last Update Timestamp:</label>
            <input class="form-control" formControlName="lastUpdateTimestamp" placeholder="{{formDateFormat}}">

            <div *ngIf="lastUpdateTimestamp.invalid && (lastUpdateTimestamp.dirty || lastUpdateTimestamp.touched)"
                class="alert alert-danger">

                <div *ngIf="lastUpdateTimestamp.errors.required">
                    Last Update Timestamp is required.
                </div>

                <div *ngIf="lastUpdateTimestamp.errors.dateFormat">
                    Date is not in correct format. Should be: {{lastUpdateTimestamp.errors.dateFormat}}
                </div>
            </div>
        </div>    

        <br>

        <div *ngIf="networkElementForm.invalid && (networkElementForm.dirty || networkElementForm.touched)">
            <div *ngIf="networkElementForm.errors?.ip10Max8Slots" class="alert alert-danger">
                An IP10 cannot have more than 8 slots
            </div>
        </div>    

        <br>

        <!-- display HTTP error: -->
        <div *ngIf="humanReadableErrorMessage != null && humanReadableErrorMessage != ''" class="alert alert-danger">
            <br>
            <mat-icon>error</mat-icon><span style="color: red; font-style: italic;">{{humanReadableErrorMessage}}</span>
        </div>

        <br>

        <!-- networkElementForm.invalid is automatically set to true when at least one FormControl is invalid.
             also if atleast one of the form-level validators returned invalid -->
        <button type="submit" class="btn btn-success" [disabled]="networkElementForm.invalid" title="{{networkElementForm.invalid ? 'Disabled because form has validation errors' : 'Save Network Element'}}">Submit</button>
        &nbsp;
        <a routerLink="/network-element-list" class="btn btn-danger">Cancel</a>
    </form>
</div>
<div style="width: 350px;" *ngIf="!networkElementForm">Loading...</div>