<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Day 1 Recap - JavaScript notions - workshop1 - bad variables - solution</title>
		
		<script src="../../../lib/angular.js"></script>		
		<script src="day1RecapJavascriptNotions-workshop1-badVariables-solution.js"></script>
	</head>
	
	<base href="/">

	<body ng-app="myApp" ng-controller="myController as ctrl">
		Using internal values:
		<br>
		<br>
	
		internalN1 === 1: {{internalN1 === 1}} <br>
		internalN2 === 2: {{internalN2 === 2}} <br>
		<br>
		{{internalN1}} + {{internalN2}} = {{internalSum}}
		
		<hr>
		Using values provided by user:
		<br>	
		<br>
	
		n1 === 1: {{n1 === 1}} <br>
		n2 === 2: {{n2 === 2}} <br>
		n1 === "1": {{n1 === "1"}} <br>
		n2 === "2": {{n2 === "2"}} <br>
		<br>
		{{n1}} + {{n2}} = {{sum}}		
	</body>
</html>