<h2>Network Elements List</h2>
<br>
<br>

<md-slider-container style="width: 200px;">
	Page size:
	<md-slider ng-model="pageSize" 
		min="1" 
		max="10" 
		class="md-accent",
		aria-label="a">
	</md-slider>
	{{pageSize}}
</md-slider-container>

<br>
<br>

<table class="table table-striped table-hover">
	<thead style="font-weight: bold;">
		<tr>
			<td ng-repeat="col in columns" style="padding:10px;" ng-click="updateSortColumn(col)" style="cursor: pointer;">
				{{col.displayLabel}}
				<span ng-if="sortColumn.field === col.field">
					<span ng-if="sortColumn.order === 'asc'">
						<i class="fas fa-sort-down"></i>
					</span>
					<span ng-if="sortColumn.order === 'desc'">
						<i class="fas fa-sort-up"></i>
					</span>
				</span>
			</td>
			<td>Action</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ne in ctrl.networkElementSearchResponse.results">
			<td ng-repeat="col in columns" style="padding:10px;">{{ne[col.field]}}</td>
			<td>
				<button ng-click="goToNetworkElementEdit(ne['ID'])" class='btn btn-default' >Edit</button>
			</td>
		</tr>
	</tbody>
</table>

<br>
<br>

<ul uib-pagination 
	total-items="ctrl.networkElementSearchResponse.totalHits" 
	ng-model="currentPage" 
	ng-change="ctrl.loadDataForCurrentPage()"
	items-per-page="pageSize"
	num-pages="neTableNumPages"
	boundary-links="true">
</ul>

<br>
<br>

Page: {{currentPage}} / {{neTableNumPages}}



