<nav>
    <span *ngFor="let entry of entries; let last = last">
        <!--
            routerLinkActive: what css class to apply to the entry corresponding to the current view (selected-entry is in main-menu.component.css)
            option {exact: true}: don't match sub-URLs of current route (this way, "Create network element" menu entry will match when an element is created, but not when it's updated)
        -->
        <a routerLink="{{entry.route}}" routerLinkActive="selected-entry" [routerLinkActiveOptions]="{exact: true}">{{entry.label}}</a>
        <br *ngIf="!last">
    </span>
</nav>