<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Network Element</title>
		
		<script src="../../lib/angular.js"></script>		
		<script src="networkElement.js"></script>
	</head>

	<body ng-app="neApp" ng-controller="neController as ctrl">
		<strong>Network Element:</strong>
		
		<br>
		<br>
		
		Name: <input ng-model="networkElement.NAME">
		<br><br>	
		
		IP: <input ng-model="networkElement.IP">
		<br><br>		
		
		Product family: <select ng-model="networkElement.PRODUCT_FAMILY" ng-options="productFamily for productFamily in productFamilies"></select>
		<br><br>
		
		Product name: <select ng-model="networkElement.PRODUCT_NAME" ng-options="productName for productName in productNamesByFamily[networkElement.PRODUCT_FAMILY]"></select>
		<br><br>
		
		Group type: <select ng-model="networkElement.GROUP" ng-options="group for group in groupsByFamily[networkElement.PRODUCT_FAMILY]"></select>
		<br><br>
		
		Number of slots: <input ng-model="networkElement.SLOTS" type="number" min="1" max="16">
		<br><br>
		
		Number of ports: <input ng-model="networkElement.PORTS" type="number" min="1" max="16">
		<br><br>
		
		<br><br>
		<br><br>
		
		<!--
			the ng-click directive can be used on any tag, in order to call a function when that tag is clicked
			the value placed in the directive must represent the name of a function exposed by the controller in the $scope variable ($scope.performSubmit in this case)
			when declaring the value in the ng-click directive, the name of the function needs to be suffixed with two parentheses, just like a regular function call: performSubmit()
		 -->
		<input type="button" value="Submit" ng-click="ctrl.performSubmit()">
		
		<br><br>
		
		{{submitResult}}
	</body>
</html>