<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Using Directives Provided By Angular - workshop 2</title>
		
		<script src="../../lib/angular.js"></script>		
		<script src="usingDirectivesProvidedByAngular-workshop2.js"></script>
	</head>
	
	<base href="/">

	<body ng-app="myApp" ng-controller="myController as ctrl">
		<div>{{stateDescription}}</div>
		<button ng-click="start()">Start</button>
		<br><br>
		<button ng-click="lap()">Lap</button>
		<br><br>
		<button ng-click="stop()">Stop</button>
		<br><br>
		<br><br>
		<div ng-repeat="lapDuration in lapsDurations track by $index">Lap {{$index + 1}}: {{lapDuration}} Ms</div>
	</body>
</html>