<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Watching For Change In Variable</title>
		
		<script src="../../lib/angular.js"></script>		
		<script src="watchingForChangeInVariable.js"></script>
	</head>
	
	<base href="/">

	<body ng-app="myApp" ng-controller="myController as ctrl">
		Some number: <input type="number" min=1 max=14 ng-model="ctrl.someNumber">
	</body>
</html>