<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Managing Multiple Views</title>
		
		<!-- === lib ===  -->		
		<script src="../../../lib/angular.js"></script>
		<script src="../../../lib/angular-route.js"></script>
		
		<!-- === configuration ===  -->
		<script src="configuration/appConfig.js"></script>
		
		<!-- === controllers and views ===  -->		
		<script src="controllers/root/rootController.js"></script>		
		<script src="controllers/networkElementList/networkElementListController.js"></script>
		<script src="controllers/networkElementEdit/networkElementEditController.js"></script>
		
	</head>

	<body ng-app="app" ng-controller="rootController as rootCtrl" style="background-color: #f1f1f1;font-family: verdana;">
	
		<h1>Network Element Manager</h1>
		
		<span ng-repeat="location in rootCtrl.locations">
			<a href="#!{{location.path}}">{{location.display}}</a>
			<br>
		</span>
		
		<br>
		
		<div ng-view class="sub-controller-highlight"></div>
		
	</body>
</html>	