<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Day 1 Recap - JavaScript notions - workshop 2 - chronometer - solution</title>
		
		<script src="../../../lib/angular.js"></script>		
		<script src="day1RecapJavascriptNotions-workshop2-chronometer-solution.js"></script>
	</head>
	
	<base href="/">

	<body ng-app="myApp" ng-controller="myController as ctrl">
		<div>{{stateDescription}}</div>
		<button ng-click="start()">Start</button>
		<br><br>
		<button ng-click="lap()">Lap</button>
		<br><br>
		<button ng-click="stop()">Stop</button>
		<br><br>
		<br><br>
		<div ng-repeat="lapDuration in lapsDurations track by $index">Lap {{$index + 1}}: {{lapDuration}} Ms</div>
	</body>
</html>