<h2>{{operationTypeDisplay}} Network Element</h2>

<div style="width: 350px;">
	Name: <input ng-model="networkElement.NAME" class="form-control">
	<br><br>	
	
	IP: <input ng-model="networkElement.IP" class="form-control">
	<br><br>		
	
	Product family: <select ng-model="networkElement.PRODUCT_FAMILY" ng-options="productFamily for productFamily in productFamilies" class="form-control"></select>
	<br><br>
	
	Product name: <select ng-model="networkElement.PRODUCT_NAME" ng-options="productName for productName in productNamesByFamily[networkElement.PRODUCT_FAMILY]" class="form-control"></select>
	<br><br>
	
	Group type: <select ng-model="networkElement.GROUP" ng-options="group for group in groupsByFamily[networkElement.PRODUCT_FAMILY]" class="form-control"></select>
	<br><br>
	
	Number of slots:<input ng-model="networkElement.SLOTS" type="number" min="1" max="16" class="form-control">
	<br><br>
	
	Last updated {{formDateFormat}} <br>
	(example: 2018/11/23 19:45:30):<input type="text" class="form-control" ng-model="networkElement.LAST_UPDATE_TIMESTAMP"/>
	<span ng-if="!ctrl.isDateStringValid(networkElement.LAST_UPDATE_TIMESTAMP)">
		<br>
		<i class="fa fa-exclamation-triangle" style="font-size: 20px;color: orange;"></i> <span style="color: red; font-style: italic;">Invalid date</span>
	</span>
	{{lastUpdateDurationHumanizedDisplay}}
	<br><br>
</div>

<br>
<br>
<button ng-click="ctrl.persistNetworkElement()" class='btn btn-success' ng-disabled="!ctrl.isDateStringValid(networkElement.LAST_UPDATE_TIMESTAMP)" >Save</button>
<button ng-click="ctrl.goToNetworkElementList()" class='btn btn-danger' >Cancel</button>