<div>
    <h1>
        Network Element Manager
        <!-- ng8.png needs to be placed in "assets" folder, to be available with this URL in the "src":-->
        <img src="assets/ng8.png" style="width: 45px; height: auto; border-radius: 4px;">
    </h1>

    <app-main-menu [entries]="originalMainMenuEntries"></app-main-menu>
    <app-main-menu [entries]="extraMainMenuEntries"></app-main-menu>

    <br>

    <router-outlet></router-outlet>
</div>