<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Creating controller-backed AngularJS Directive</title>
		
		<script src="../../lib/angular.js"></script>		
		<script src="creatingControllerBackedCustomAngularJSDirective.js"></script>
	</head>
	
	<base href="ang">

	<body ng-app="myApp" ng-controller="myController as ctrl">
		<span ng-repeat="neName in networkElementsNames">
			<text-trim text="neName" max-chars="10"></text-trim>
		</span>
	</body>
</html>