<!DOCTYPE html>
<html lang="en">
	<head>
		<title>NE Manager - workshop solutions</title>
		
		<!-- === css ===  -->		
		<link href="../../../lib/angular-material.min.css" rel="stylesheet">
	    <link href="../../../lib/bootstrap/bootstrap.min.css" rel="stylesheet">
	    <link href="../../../lib/fontAwesome/css/font-awesome.css" rel="stylesheet">
		
		<!-- === lib ===  -->		
		<script src="../../../lib/angular.js"></script>
		<script src="../../../lib/angular-animate.js"></script>
		<script src="../../../lib/angular-aria.min.js"></script>
		<script src="../../../lib/angular-messages.min.js"></script>
		<script src="../../../lib/angular-material.min.js"></script>
		<script src="../../../lib/angular-route.js"></script>	
	    <script src="../../../lib/angular-sanitize.js"></script>
	    <script src="../../../lib/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
	    <script src="../../../lib/momentjs/moment.js"></script>
	    
		<!-- === configuration ===  -->
		<script src="configuration/appConfig.js"></script>
		
		<!-- === controllers and views ===  -->		
		<script src="controllers/root/rootController.js"></script>		
		<script src="controllers/networkElementList/networkElementListController.js"></script>
		<script src="controllers/networkElementEdit/networkElementEditController.js"></script>
		
	</head>

	<body ng-app="app" ng-controller="rootController as rootCtrl" style="background-color: #fdfdfd;font-family: verdana;padding: 20px; margin: 10px;">
	
		<h1>Network Element Manager</h1>
		
		<span ng-repeat="location in rootCtrl.locations">
			<a href="#!{{location.path}}">{{location.display}}</a>
			<br>
		</span>
		
		<br>
		
		<div ng-view class="sub-controller-highlight"></div>
		
	</body>
</html>	