@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*
Import of material-icons css from file saved in project:
*/
@import 'app/resources/material-icons.css';

/*
Import of material-icons css from online (Google CDN):
*/
/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */

body {
    background-color: #fdfdfd;
    font-family: verdana;
    padding: 20px; 
    margin: 10px;
}