<h2>Network Elements List</h2>
<br>
<br>

Page size:
<!--
  bizarelly, here, when the slider is moved, the input event is fire first (and the main component function onPageSizeChanged is called, with the
  new slider value in the $event.value), and THEN the main component's pageSize variable is updated
  As such, we need to get the new pageSize value from the event, because relying on the pageSize update will always show a pageSize equal to the
  LAST selection that was made in the slider

  the min and max attributes of the imported component are intialized here with static constant values
  as such, no binding (either 1-way or 2-way) needs to be declared for them ( they don't need to be surrounded by either [] or () )
-->
<mat-slider
  min="1"
  max="10"
  [(value)]="pageSize"
  (input)="onPageSizeChanged($event)">
</mat-slider>
{{pageSize}}

<br>
<br>

<table class="table table-striped table-hover">
  <!-- component app-sortable-table-header is added via (existing) tag attribute -->
  <!-- app-sortable-table-header's attribute "columns" is initialized from parent component (parent -> child 1-way data transfer), so it's put in square brackets [columns]-->
  <!-- parent component's (network-element-list) function "onSortChanged" needs to be called when the child component's (app-sortable-table-header) sortChanged event is emmited (child -> parent 1-way data transfer), so the attribute is specified in round brackets (sortChanged) -->
  <thead app-sortable-table-header [columns]="columns" [sort]="initialSort" (sortChanged)="onSortChanged($event)"></thead>
  <tbody>
    <tr *ngFor="let networkElement of networkElements">
      <td *ngFor="let column of columns">
        <!-- use ngSwith + ngSwitchCase + ngSwitchDefault to do different things depending on the current column (document field) name-->
        <span [ngSwitch]="column.field">
            <!-- the ngSwitchCase directive expects an expression. Here we want to pass in a text constant, so we need to wrap the text in single quotes to denote that
              so: 
              *ngSwitchCase="'LAST_UPDATE_TIMESTAMP'" -> will work ok
              *ngSwitchCase="LAST_UPDATE_TIMESTAMP" -> will not work, as LAST_UPDATE_TIMESTAMP interpreted as an expression resolves to null
            -->
            <!-- use the date pipe to format the date directly in the template (not in the backing component): -->
            <span *ngSwitchCase="'LAST_UPDATE_TIMESTAMP'">{{networkElement[column.field]  | date:'yyyy/MM/dd HH:mm:ss' }}</span>
            <span *ngSwitchCase="'actions'">
              <!-- we can directly use CSS classes from bootstrap.min.css on regular elements:-->
              <a [routerLink]="['/network-element-edit']" [queryParams]="{id: networkElement['ID']}" class="btn btn-primary">Edit (Basic Input)</a>
              <!-- let's force a space here, by specifying it as an HTML-encoded character: -->&nbsp;
              <a routerLink="{{'/network-element-edit-with-validation/' + networkElement['ID']}}" class="btn btn-primary">Edit (Reactive Forms)</a>
            </span>
            <span *ngSwitchDefault>{{networkElement[column.field]}}</span>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<!--
  below bagination component can be customized more in-depth (for example, changing the navigation button thext from <,> to "First", "Last"),
  by using NgbPaginationConfig
  https://ng-bootstrap.github.io/#/components/pagination/api#NgbPaginationConfig
-->

<!--
main component (network-element-list) variable "totalHits" is 1-way bound to pagination component's (which, here, is part of the view) "collectionSize" attribute, the direction being from component to view (HTML template)
(denoted by the square brackets [] around the attribute)  
(because it only changes from main component to view, this is enough)

main component variable "currentPage" is 2-way bound to pagination component's "page" attribute
(denoted by both the square and round brackets [()] around it)  
(this is necessary because both the main component's currentPage variable will change when data is loaded, 
and the page attribute value will change, when the user clicks on a different page number in the UI)

main component function "loadDataForCurrentPage" is 1-way bound to pagination component's "pageChange" attribute, the direction being from view to component
(denoted by the round brackets () around it)  
(because it only changes in view, this is enough)

-->
<ngb-pagination
  [collectionSize]="totalHits" 
  [(page)]="currentPage" 
  [boundaryLinks]="true"
  [pageSize]="pageSize"
  (pageChange)="loadDataForCurrentPage()">
</ngb-pagination>
