<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Two Way Binding - Workshop - solution</title>
		
		<script src="../../../lib/angular.js"></script>		
		<script src="twoWayBindingWorkshopSolution.js"></script>
	</head>

	<body ng-app="twoWayBindingApp" ng-controller="twoWayBindingController as ctrl">
		<strong>Edit Network Element:</strong>
		
		<br>
		<br>
		
		<!-- ng-model is an AngularJS directive. It "ties" the model variable "name" to the HTML <input> tag: -->
		Name: <input ng-model="name">
		<br><br>		
		<!--
			 for this select, 2 directives are used:
			 ng-model, for specifying in what variable to store the selection the user makes
			 ng-options, to dynamically populate the options in the select, with an array of values declared and initialized in the controller
		 -->
		Product family: <select ng-model="selectedProductFamily" ng-options="productFamily for productFamily in productFamilies"></select>
		<br><br>
		<!-- 
			The second select is dynamically populated based on what was selected in the first select, above (selectedProductFamily).
			The ng-options directive is configured to select from a variable containing a "map" of key-value pairs.
			The keys represent values that can be selected in the first select
			The values represent "lists" (or "arrays") of values that represent the available options for the current selection 
		-->
		Product name: <select ng-model="selectedProductName" ng-options="productName for productName in productNamesByFamily[selectedProductFamily]"></select>
		<br><br>
		Group type: <select ng-model="selectedGroup" ng-options="group for group in groupsByFamily[selectedProductFamily]"></select>
		
		<br><br>
		<br><br>
		
		<!--
			the ng-click directive can be used on any tag, in order to call a function when that tag is clicked
			the value placed in the directive must represent the name of a function exposed by the controller in the $scope variable ($scope.performSubmit in this case)
			when declaring the value in the ng-click directive, the name of the function needs to be suffixed with two parentheses, just like a regular function call: performSubmit()
		 -->
		<input type="button" value="Submit" ng-click="performSubmit()">
		
		<br><br>
		
		Submitted network element (debug): <br>
		{{networkElementForDebug}} 
		
	</body>
</html>